<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Online Language Education</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <style>
      
    </style>

    </head>
    <body style="background-color: #100C2A">
        <!-- ======= Speakers Section ======= -->
    <section id="speakers" >
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2 style="color:white">Training Packages</h2>
            <p>Tavsiye edilen eğitimlerimiz!</p>
          </div>

          <form action="/accounter_page" method="post">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                <div class="details">
                  <h3><a href="/save_student"> {{title}}</a></h3>
                  
                  <h4>{{info}}</h4>
                  <h2>{{price}}</h2>
                  
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Choose Package</button>
        </form>
           
            
          </div>
        </div>
  
      </section><!-- End Speakers Section -->

        <!-- Vendor JS Files -->
        <script src="static/assets/vendor/aos/aos.js"></script>
        <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="static/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="static/assets/js/main.js"></script>
       
    </body>
</html>