<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Online Language Education</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <style>
        h4{
            color:white;
        }
    </style>
    </head>
    <body style="background-color: #100C2A">
    
        <!-- ======= Speakers Section ======= -->
    <section id="speakers" >
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2 style="color:white">Dil Öğrenme Ortamına Giriş Yapıldı!</h2>
            <p>İşte Öğrenme Sürecin!</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" style="align-items: center;">
                <form action="/view_source" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/view_source">Kaynak Görüntüle</a></h3> 
                    <h4>Öğretmeninin Yüklediği Kaynkları Görüntüle</h4>
                    <button class="btn btn-primary" type="submit">Hemen Görüntüle</button>
                    </div>
                </div>  
                </form>    
            </div>
  
            <div class="col-lg-4 col-md-6">
                <form action="/watch_video" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/watch_video">Ders Videoları İzle</a></h3> 
                    <h4>Öğretmeninin Yüklediği dersleri hemen izleyebilirsin</h4>
                    <button class="btn btn-primary" type="submit">Hemen İzle</button>
                    </div>
                </div>  
                </form>    
            </div>

            <div class="col-lg-4 col-md-6">
                <form action="/display_homework" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/display_homework">Ödevleri Görüntüle</a></h3> 
                    <h4>Öğretmeninin Yüklediği ödevleri hemen tamamlayabilirsin</h4>
                    <button class="btn btn-primary" type="submit">Ödevi Görüntüle</button>
                    </div>
                </div>  
                </form>    
            </div>
        </div>  
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <form action="/attend_class" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/attend_class">Derse Katıl</a></h3> 
                    <h4>Öğretmeninin Açtığı Derse Hemen Katılabilirsin</h4>
                    <button class="btn btn-primary" type="submit">Ders Katıl</button>
                    </div>
                </div>  
                </form>    
            </div>
            <div class="col-lg-4 col-md-6">
                <form action="/view_messages" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/view_messages">Mesajları Görüntüle</a></h3> 
                    <h4>Öğretmeninin Gönderdiği Mesajları Görüntüle</h4>
                    <button class="btn btn-primary" type="submit">Mesajlarını Gör</button>
                    </div>
                </div>  
                </form>    
            </div>

            <div class="col-lg-4 col-md-6">
                <form action="/send_message" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/send_message">Mesaj Gönder</a></h3> 
                    <h4>Öğretmeninine Mesaj Gönderebilirsin</h4>
                    <button class="btn btn-primary" type="submit">Mesaj Gönder</button>
                    </div>
                </div>  
                </form>    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <form action="/attend_club" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/attend_club">Konuşma Kulübüne Katıl</a></h3> 
                    <h4>Konuşma Kulübüne Katılabilirsin</h4>
                    <button class="btn btn-primary" type="submit">Hemen Katıl</button>
                    </div>
                </div>  
                </form>    
            </div>
        </div>
  
      </section><!-- End Speakers Section -->

        <!-- Vendor JS Files -->
        <script src="static/assets/vendor/aos/aos.js"></script>
        <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="static/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="static/assets/js/main.js"></script>
       
    </body>
</html>