<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sentiment Analyse</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <style>
        h4{
            color:white;
        }
    </style>

    </head>
    <body style="background-color: #100C2A">
    
        <!-- ======= Speakers Section ======= -->
    <section id="speakers" >
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2 style="color:white">Dil Öğrenme Ortamına Giriş Yapıldı!</h2>
            <p>Öğrencilerin İle İletişime Geçebilirsin! </p>
          </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <form action="/upload_video" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/upload_video">Ders Videosu Yükle</a></h3> 
                    <h4>Öğrencilerinin İzlemesi Videolar Yükleyebilirsin</h4>
                    <button class="btn btn-primary" type="submit">Hemen Yükle</button>
                    </div>
                </div>
                </form>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <form action="/give_homework" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/give_homework">Ödev Gönder</a></h3> 
                    <h4>Öğrencilerin İçin Hemen Ödevler Gönderebilirsin</h4>
                    <button class="btn btn-primary" type="submit">Ödevi Görüntüle</button>
                    </div>
                </div>
                </form>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <form action="/view_homework" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/view_homework">Ödevleri Görüntüle</a></h3> 
                    <h4>Konuşma Kulübü Açabilirsin</h4>
                    <button class="btn btn-primary" type="submit">Hemen Aç</button>
                    </div>
                </div>  
                </form>    
            </div>
        </div>
        <div class="row">  
            <div class="col-lg-4 col-md-6">
                <form action="/start_class" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                  <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                  <div class="details">
                    <h3><a href="/start_class">Derse Aç</a></h3> 
                    <h4>Öğrencilerinin Katılabileceği Ders Ortamı Oluşturabilirsin</h4>
                    <button class="btn btn-primary" type="submit">Ders Aç</button>
                    </div>
                </div>  
                </form>    
            </div> 
            <div class="col-lg-4 col-md-6">
                <form action="/view_messages" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/view_messages">Mesajları Görüntüle</a></h3> 
                    <h4>Öğrencilerinin Gönderdiği Mesajları Görüntüle</h4>
                    <button class="btn btn-primary" type="submit">Mesajlarını Gör</button>
                    </div>
                </div>  
                </form>    
            </div> 
            <div class="col-lg-4 col-md-6">
                <form action="/send_message" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/send_message">Mesaj Gönder</a></h3> 
                    <h4>Öğrencilerine Mesaj Gönderebilirsin</h4>
                    <button class="btn btn-primary" type="submit">Mesaj Gönder</button>
                    </div>
                </div>  
                </form>    
            </div>
        </div>  
        <div class="row">
            <div class="col-lg-4 col-md-6" style="align-items: center;">
                <form action="/start_club" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/start_club">Konuşma Kulübü Aç</a></h3> 
                    <h4>Konuşma Kulübü Açabilirsin</h4>
                    <button class="btn btn-primary" type="submit">Hemen Aç</button>
                    </div>
                </div>  
                </form>    
            </div>

            <div class="col-lg-4 col-md-6" style="align-items: center;">
                <form action="/upload_source" method="post">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                    <h3><a href="/upload_source">Kaynak Yükle</a></h3> 
                    <h4>Öğrencilerin İçin Kaynaklar Yükleyebilirsin</h4>
                    <button class="btn btn-primary" type="submit">Yükle</button>
                    </div>
                </div>  
                </form>    
            </div>

        </div>
  
      </section><!-- End Speakers Section -->

        <!-- Vendor JS Files -->
        <script src="static/assets/vendor/aos/aos.js"></script>
        <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="static/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="static/assets/js/main.js"></script>
       
    </body>
</html>