<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sentiment Analyse</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <style>
      
    </style>

    </head>
    <body style="background-color: #100C2A">
        
        
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center ">
          <div class="container-fluid container-xxl d-flex align-items-center">
  
              <div id="logo" class="me-auto">
              <!-- Uncomment below if you prefer to use a text logo -->
              <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
             
              </div>
  
              <nav id="navbar" class="navbar order-last order-lg-0">
              <ul>
                  <li><a class="nav-link scrollto active" href="/">Home</a></li>
                  <li><a class="nav-link scrollto" href="/sentiment_graphic">Sentiments of All Brands</a></li>
                  <li><a class="nav-link scrollto" href="/number_of_comments">Number of Comments</a></li>
                  <li><a class="nav-link scrollto" href="/brands">Brands</a></li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
              </nav><!-- .navbar -->
              <a class="buy-tickets scrollto" href="/contact">Contact</a>
  
          </div>
          </header><!-- End Header -->

        <!-- ======= Speakers Section ======= -->
    <section id="speakers" >
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2 style="color:white">Training Packages</h2>
            <p>Alabileceğiniz bazı eğitimlerimiz!</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                <div class="details">
                  <h3><a href="/Volvo">Temel Başlangıç Paketi</a></h3>
                  <h4><a href="/Volvo">A1 + A2 + B1</a></h4>
                  <h2><a href="/Volvo">300$</a></h2>
                  <div class="social">
                    <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                    <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                <div class="details">
                  <h3><a href="/Volvo">Orta Düzey Gelişim Paketi</a></h3>
                  <h4><a href="/Volvo">B1 + B2</a></h4>
                  <h2><a href="/Volvo">250$</a></h2>
                  <div class="social">
                    <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                    <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                  <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                  <div class="details">
                    <h3><a href="/Volvo">İleri Düzey Gelişim Paketi</a></h3>
                    <h4><a href="/Volvo">C1 + C2</a></h4>
                    <h2><a href="/Volvo">250$</a></h2>
                    <div class="social">
                      <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                      <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-lg-4 col-md-6">
                  <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                      <h3><a href="/Volvo">Sadece Giriş</a></h3>
                      <h4><a href="/Volvo">A1</a></h4>
                      <h2><a href="/Volvo">200$</a></h2>
                      <div class="social">
                        <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                        <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                      <h3><a href="/Volvo">Sadece aşlangıç</a></h3>
                      <h4><a href="/Volvo">A2</a></h4>
                      <h2><a href="/Volvo">200$</a></h2>
                      <div class="social">
                        <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                        <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                      <h3><a href="/Volvo">Orta Düzeye Giriş</a></h3>
                      <h4><a href="/Volvo">B1</a></h4>
                      <h2><a href="/Volvo">200$</a></h2>
                      <div class="social">
                        <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                        <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg"alt="Brand 1" class="img-fluid">
                    <div class="details">
                      <h3><a href="/Volvo">Orta Düzeyden Gelişmişe </a></h3>
                      <h4><a href="/Volvo">B2</a></h4>
                      <h2><a href="/Volvo">200$</a></h2>
                      <div class="social">
                        <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                        <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                      <h3><a href="/Volvo">Akademik İngilizce</a></h3>
                      <h4><a href="/Volvo">C1</a></h4>
                      <h2><a href="/Volvo">250$</a></h2>
                      <div class="social">
                        <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                        <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                  <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="static/assets/img/training.jpg" alt="Brand 1" class="img-fluid">
                    <div class="details">
                      <h3><a href="/Volvo">İş İngilizcesi </a></h3>
                      <h4><a href="/Volvo">B2</a></h4>
                      <h2><a href="/Volvo">250$</a></h2>
                      <div class="social">
                        <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                        <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
           
            
          </div>
        </div>
  
      </section><!-- End Speakers Section -->

        <!-- Vendor JS Files -->
        <script src="static/assets/vendor/aos/aos.js"></script>
        <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="static/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="static/assets/js/main.js"></script>
       
    </body>
</html>